<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Blood Bank</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="style/font-awesome.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
    <!-- menu contains divs of logo and navigation bar -->

    <div id="menu">

        <div id="logo">
            <h2 style="border-bottom:5px solid;border-bottom-color:darkred;font-weight:bold"> <span class="fa fa-heartbeat"></span> Blood Bank</h2>
            <p style="margin-top:-15px; font-weight:bold">Management System</p>
        </div>

        <div id="navigation">
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="Register.html">Register</a>
                <li><a href="#Donors List">Donors List</a></li>
                <li><a href="related.html">Related</a></li>
                <li><a href="Elegibility">Eligibility</a></li>
                <li><a href="About us.html"> About us</a></li>
                <li> <a href="Contact us.html">Contact us</a></li>



            </ul>
        </div>
        <br>
        <div id="images">
              <img src="img/About1.jpg" alt="save life" width="200" height="200"/>
              <br>
              <br>
             <img src="img/About.jpg" alt="save life" width="300" height="200"/>
                         

         </div>
        <div class="related">
    <h2>Blood Groups</h2>
    <p>
        The most common type of grouping is the ABO grouping. <br> The varieties of glycoprotein coating on<br> red blood cells divides blood into four groups:
        <br>
    <ul>
        <li>A (A oligosaccharide is present)</li><br>
        <li>B (B oligosaccharide is present)</li><br>
        <li>AB (A and B oligosaccharides are present)</li><br>
        <li>O (neither A nor B, only their precursor H oligosaccharide present)</li><br>
    </ul>
</p>
    <h2>Rh Factor</h2>
    <p>
        An individual either has, or does not have, the "Rhesus factor" on the surface of their red blood cells.
This term strictly refers only to the most immunogenic D antigen of the Rh blood group system, or the Rh- blood group system. The status is usually indicated by Rh positive (Rh+ does have the D antigen) or Rh negative (Rh- does not have the D antigen) suffix to the ABO blood type.
Therefore the general division of blood groups is as follows:
    <ul>

        <li>A+, A-</li><br>
        <li>B+, B-</li><br>
        <li>AB+(universal acceptor), AB-</li><br>
        <li>O+, O-(universal donor)</li><br>
    </ul>
    </p>

    <p>
<h2>Other blood banks in Faisalabad</h2>
   <ul>
       <li>1.Ali Zaib Blood Bank(041-2409754)</li><br>
       <li>2.Chiniot Blood Bank & Dialysis Centre(041-2628868)</li><br>
</ul>
</p>

        </div>
    </div>

</div>

<div id="footer">
    Copyright &Blood Bank<br/>
    Designed By: Sadia Ijaz & Hira Tariq
</div>


</body>
</html>


